

<style> 

.frame{
        background-color: #ffffff55;
        border-radius:7px;    
        text-align: center;
        padding: 15px 15px;
        max-width: 500px;
        
    }


    td, th, tr{
        background-color: #ffffff55;
        padding: 25px 35px;
        border-style: double;
        border-radius:10px;
        min-width: 100px;

    }

</style>



    <table class="frame" >


        {%for element in list%}
        {% if list.index(element)%4==0 %}
    
        <tr>
    
            <th>
            {% for j in element %}
            {{j}}<br>
            {% endfor %}
            </th> 
    
    
    
        {% else %}
    
    
            <th>
                {% for j in element %}
                {{j}}<br>
                {% endfor %}
                </th> 
                
    
    
        {% endif %}
        {% endfor %}
    
    </table> 

